pythonServiceUrl = "http://localhost:8000"
asgardeoTokenAudience = "EquiHire-Core"
frontendUrl = "http://localhost:5173"

# Brevo SMTP Configuration
smtpHost = "smtp-relay.brevo.com"
smtpPort = 587
smtpUsername = "********@smtp-brevo.com"
smtpPassword = "***********" 
smtpFromEmail = "**********@gmail.com" 

[database]
host = "db.************.supabase.co"
port = 5432
user = "postgres"
password = "**********"
name = "postgres"
